.Card {
    border: none;
    box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.54);
    transform-style: preserve-3d;
    overflow: hidden;
    transition: 0.5s ease-in-out all;
    outline-width: 0;
    border-radius: 14px;

    img {
        width: 100%;
        transition: 0.2s ease-in-out all;
        pointer-events: none;
        opacity: 0;
    }

    &.-isFlipped {
        background: white;
        transition: 0.5s ease-in-out all;
        transform: rotateY(180deg);

        img {
            transition: 0.5s ease-in-out all;
            opacity: 1;
        }
    }

    &.-isWin {
        background: white;
        transition: 0.5s ease-in-out all;
        transform: rotateY(180deg);
        box-shadow: none;
        pointer-events: none;
        transition: unset;
        opacity: 0.6;

        img {
            transition: 0.5s ease-in-out all;
            opacity: 1;
        }
    }
}
